<%- include('header') -%>
  <%- include('navbar') -%>
    <div class="basic class" id="main"></div>



    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="180000">
        <div class="toast-header">
          <img src="/assets/chatbox.svg" width="20px" class="rounded me-2" alt="...">
          <strong class="me-auto">Chatbox</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          <pre id="messages" style="width: 90%; margin-left: 5%; height: 200px; overflow: scroll">
          </pre>
          <input type="text" id="messageBox" placeholder="Type your message here"
            style="display: block; width: 90%; margin-bottom: 10px; margin-left: 5%; padding: 10px;" />
          <button id="send" title="Send Message!" style="width: 90%; margin-left: 5%; height: 30px;">
            Send Message
          </button>
        </div>
      </div>
    </div>



    <script>
      const sendBtn = document.querySelector('#send');
      const messages = document.querySelector('#messages');
      const messageBox = document.querySelector('#messageBox');
      let main = document.getElementById("main");
      var uid = JSON.parse("<%- JSON.stringify(uid) %>");
      var roomid = JSON.parse("<%- roomid %>");
      const ws = new WebSocket(`ws://localhost:3000/play?roomid=${roomid}`);

      ws.onopen = function () {
        playing(uid, roomid);
      };

      ws.onmessage = function (event) {
        div = "";
        navbar = "";
        console.log(event.data);
        let data = JSON.parse(event.data);


        if (data["msg"] == "infos") {
          keys = Object.keys(data["info"]["families_choices"]);
          room_type = data["room_type"]

          if (data["info"]["started"] == 0) {
            values_arr = Object.values(data["info"]["families_choices"]);

            if (values_arr.some(item => item === uid)) {
              main.innerHTML = `<img src=/assets/map.svg alt=FamSVG />`;

            }
            else {
              div += `<p class="text-center">Choose your family !</p>`

              if (room_type == 3) {
                for (i = 0; i < keys.length; i++) {
                  if (data["info"]["families_choices"][keys[i]] == 0
                    & keys[i] != "tyrell"
                    & keys[i] != "martell"
                    & keys[i] != "greyjoy") {
                    div += `<button id="families" onclick="family_choice('${keys[i]}', '${uid}', '${roomid}')">
                          <div class="familyname">${keys[i]}</div>
                          <img src=/assets/logos/${keys[i]}_logo.svg alt=FamSVG />
                        </button>`;
                  }
                }
              }
              if (room_type == 4) {
                for (i = 0; i < keys.length; i++) {
                  if (data["info"]["families_choices"][keys[i]] == 0
                    & keys[i] != "tyrell"
                    & keys[i] != "martell") {
                    div += `<button id="families" onclick="family_choice('${keys[i]}', '${uid}', '${roomid}')">
                          <div class="familyname">${keys[i]}</div>
                          <img src=/assets/logos/${keys[i]}_logo.svg alt=FamSVG />
                        </button>`;
                  }
                }
              }
              if (room_type == 5) {
                for (i = 0; i < keys.length; i++) {
                  if (data["info"]["families_choices"][keys[i]] == 0 & keys[i] != "martell") {
                    div += `<button id="families" onclick="family_choice('${keys[i]}', '${uid}', '${roomid}')">
                          <div class="familyname">${keys[i]}</div>
                          <img src=/assets/logos/${keys[i]}_logo.svg alt=FamSVG />
                        </button>`;
                  }
                }
              }
              if (room_type == 6) {
                for (i = 0; i < keys.length; i++) {
                  if (data["info"]["families_choices"][keys[i]] == 0) {
                    div += `<button id="families" onclick="family_choice('${keys[i]}', '${uid}', '${roomid}')">
                          <div class="familyname">${keys[i]}</div>
                          <img src=/assets/logos/${keys[i]}_logo.svg alt=FamSVG />
                        </button>`;
                  }
                }
              }

              main.innerHTML = div;
            }

          }
          else {
            main.innerHTML = `<img src=/assets/map.svg alt=FamSVG />`;
          }
        }

        if (data['msg'] == 'message') {
          showMessage(`${data['chat_name']} ►  ${data['message']}`);
        }

      };

      function playing(uid, roomid) {
        const msg = `["playing","${roomid}","${uid}"]`;

        ws.send(msg);
      }

      function family_choice(family, uid, roomid) {


        const msg = `["family_choice","${family}", "${uid}", "${roomid}"]`;

        ws.send(msg);
      }

      function chat() {
        const ChatTrigger = document.getElementById('Chat')
        const toastLiveExample = document.getElementById('liveToast')

        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
        toastBootstrap.show()
      }

      function showMessage(message) {
        messages.textContent += `\n${message}`;
        messages.scrollTop = messages.scrollHeight;
        messageBox.value = '';
      }

      sendBtn.onclick = function () {

        const msg = `["chat_message","${roomid}", "${messageBox.value}", "${uid}"]`;

        if (ws) {
          ws.send(msg);
        } else {
          alert("ERROR: Not connected... refresh to try again!");
        }
      }
    </script>

    <%- include('footer') -%>