<%- include('header') -%>
    <%- include('navbar') -%>

        <div class="text-center container w-75 " id="gamecards">
            <table class="table" id="westeros_tab">
                <thead>
                    <tr>
                        <th scope="col">Westeros Deck I</th>
                        <th scope="col">Westeros Deck II</th>
                        <th scope="col">Westeros Deck III</th>
                    </tr>
                </thead>
                <tbody>
                    <td id="wd_1"></td>
                    <td id="wd_2"></td>
                    <td id="wd_3"></td>
                </tbody>
            </table>
        </div>

        <div class="text-center container w-75 " id="gamecards">
            <h3>Wildings</h3>

            <div class="progress" style="height: 30px;">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
                    aria-label="Basic example" style="width: 10%;" aria-valuenow="0" aria-valuemin="0"
                    aria-valuemax="12">1
                </div>
            </div>



            <script>

                var uid = JSON.parse("<%- JSON.stringify(uid) %>");
                var roomid = JSON.parse("<%- roomid %>");

                const ws = new WebSocket(`ws://localhost:3000/${uid}`);
                ws.onopen = function () {
                    playing(uid, roomid);
                };

                ws.onmessage = function (event) {
                    div = "";
                    console.log(event.data);
                    let data = JSON.parse(event.data);


                    if (data["msg"] == "infos") {

                        var wd_1 = document.getElementById("wd_1");
                        var wd_2 = document.getElementById("wd_2");
                        var wd_3 = document.getElementById("wd_3");
                        console.log(data["info"]["deck2"][0].fields.wildlings_attack == true)
                        if (data["info"]["deck1"][0].fields.wildlings_attack == true) { wd1_attack = "Yes" } else { wd1_attack = "No" }
                        if (data["info"]["deck2"][0].fields.wildlings_attack == true) { wd2_attack = "Yes" } else { wd2_attack = "No" }
                        if (data["info"]["deck3"][0].fields.wildlings_attack == true) { wd3_attack = "Yes" } else { wd3_attack = "No" }

                        wd_1.innerHTML = `<div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                            <button type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne${data["info"]["deck1"][0].fields.tag}" aria-expanded="false" aria-controls="flush-collapseOne">
                                                <img src="/assets/westeros/${data["info"]["deck1"][0].fields.tag}.svg">
                                            </button>
                                            </h2>
                                            <div id="flush-collapseOne${data["info"]["deck1"][0].fields.tag}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <p>Description : ${data["info"]["deck1"][0].fields.description}</p>
                                                <p>Wildings attack ? : <b>${wd1_attack}</b></p>
                                            </div>
                                        </div>
                                        </div>`
                        wd_2.innerHTML = `<div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                            <button type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne${data["info"]["deck2"][0].fields.tag}" aria-expanded="false" aria-controls="flush-collapseOne">
                                                <img src="/assets/westeros/${data["info"]["deck2"][0].fields.tag}.svg">
                                            </button>
                                            </h2>
                                            <div id="flush-collapseOne${data["info"]["deck2"][0].fields.tag}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <p>Description : ${data["info"]["deck2"][0].fields.description}</p>
                                                <p>Wildings attack ? : <b>${wd1_attack}</b></p>
                                            </div>
                                        </div>
                                        </div>`
                        wd_3.innerHTML = `<div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                            <button data-bs-toggle="collapse" data-bs-target="#flush-collapseOne${data["info"]["deck3"][0].fields.tag}" aria-expanded="false" aria-controls="flush-collapseOne">
                                                <img src="/assets/westeros/${data["info"]["deck3"][0].fields.tag}.svg">
                                            </button>
                                            </h2>
                                            <div id="flush-collapseOne${data["info"]["deck3"][0].fields.tag}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <p>Description : ${data["info"]["deck3"][0].fields.description}</p>
                                                <p>Wildings attack ? : <b>${wd1_attack}</b></p>
                                            </div>
                                        </div>
                                        </div>`

                    }





                }

                function playing(uid, roomid) {
                    const msg = `["playing","${roomid}","${uid}"]`;

                    ws.send(msg);
                }


            </script>


            <%- include('footer') -%>